#deform{
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    text-align: center;
}
table,th,tr,td{
    margin: auto;
    padding: 5px;
    
}
tr>th, tr>td{
    padding:10px
}

#display{
    text-align: center;
}

#my-btn{
    margin-left: 100px;
    margin-right: 100px;
}
